/* GLOBAL */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 16px;
	color: #000;
	flex-wrap: wrap;
}

p {
	margin: 0 0 16px 0;
}

h1 {
	font-size: 2em;
	margin:	16px 0 16px 0;
}

h2 {
	font-size: 1.5em;
	color: #222;
	margin: 0 0 24px 0;
}

h3 {
	font-size: 0.75em;
	color: #222;
	margin: 0 0 12px 0
}

a {
	color: #fc129a;
	text-decoration: none;
}

img { max-width: 100% }

/* SIZES */

.w_16		{ width:	16px	}
.w_32		{ width:	32px	}
.w_64		{ width:	64px	}
.w_128		{ width:	128px	}
.w_256		{ width:	256px	}
.w_full		{ width:	100%	}
.w_screen	{ width:	100vw	}
.w_auto		{ width:	auto	}

.h_16		{ height:	16px	}
.h_32		{ height:	32px	}
.h_64		{ height:	64px	}
.h_128		{ height:	128px	}
.h_256		{ height:	256px	}
.h_full		{ height:	100%	}
.h_screen	{ height:	100vh	}
.m_h_auto	{ height:	auto	}

@media screen and (max-width: 700px) {	.w_content { width: 100vw } }
@media screen and (min-width: 701px) {	.w_content { width: 680px } }
@media screen and (min-width: 1001px) {	.w_content { width: 960px } }

/* MARGINS & PADDING */

.m_8	{ margin: 8px	}
.m_16	{ margin: 16px	}
.m_32	{ margin: 32px	}

.m_h_auto	{ margin-left: auto; margin-right: auto; }

.p_8	{ padding: 8px	}
.p_16	{ padding: 16px	}
.p_32	{ padding: 32px	}

/* POSITIONS */

.pos_abs_center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.pos_hor_center {
	margin-left: auto;
	margin-right: auto;
}

.z_back		{ z-index: -1	}
.z_mid		{ z-index: 0	}
.z_front	{ z-index: 1	}

/* DISPLAY */

.block { display: block }
.flex { display: flex }
.flex_grow_1 { flex-grow: 1 }
.flex_grow_2 { flex-grow: 2 }

/* COLORS */

.bg_white { background-color: #fff }
.bg_black { background-color: #000 }
.text_white { color: #fff }

/* MISC */

.round_4 { border-radius: 4px }
.round_8 { border-radius: 8px }

/* FX */

.fx_invert { filter: invert(1) }
.fx_gradient {
	background: linear-gradient(
		90deg, 
		#ff0022, 
		#be05be, 
		#1caafc, 
		#00FD8D, 
		#ffed00, 
		#f08000, 
		#fc129a
	);
	background-size: 800% 800%;
	animation: gradient_pan 60s ease infinite;
}

/* ANIMATIONS */

@keyframes gradient_pan { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}