* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(270deg, #fc129a, #a000a0, #12affc, #00FD8D, #f08000, #fc129a);
	background-size: 800% 800%;
	animation: bg_move 30s ease infinite;
}

@keyframes bg_move { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.logo {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 256px;
	height: 256px;
	filter: drop-shadow( 0 5px 15px rgba(0, 0, 0, 0.1) );
	filter: invert(1);
}