/* GLOBAL */

* {
	padding: 0;
	margin: 0;
}

/* SIZES */

.w_256	{ width:	256px	}
.h_256	{ height:	256px	}

/* POSITIONS */

.pos_abs_center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* FX */

.fx_invert { filter: invert(1) }
.fx_gradient {
	background: linear-gradient(90deg, #ff0022, #be05be, #1caafc, #00FD8D, #ffed00, #f08000, #fc129a);
	background-size: 800% 800%;
	animation: gradient_pan 60s ease infinite;
}

/* ANIMATIONS */

@keyframes gradient_pan { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}